@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}

.banner{
    background-image: url("../assets/banner-image.jpg");
    background-size: 100vw 90vh;
    height: 90vh;
    width: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    background: linear-gradient(to right, #159957, #155799);
}

.nav-dummy{
    width: 40%;
}

.top-nav{
    width: 60%;
    height: 10vh;
}
.nav-list{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.nav-list a{
    padding-bottom: .5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    list-style: none;
    text-decoration: none;
}

.nav-list a:hover{
    /* color:black; */
    font-family: Arial, Helvetica, sans-serif;
}

.nav-list a:active{
    font-weight: bolder;
    color: red;
}

.banner-search{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-search select{
    width: 30%;
    height: 40px;
}

.dest{
    text-align: center;
}

.search-sub{
    width: 30%;
    height: 30px;
}

.main-heading{
    color: white;
    font-size: 40px;
}

/* """""""""""""""""""""""""""""""""PACKAGES DETAILS""""""""""""""""""""""""""""""""" */

.package {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .sub-package { grid-area: 1 / 1 / 3 / 3; }

    .login-link{
        padding: 10px;
        border-radius: 20px;
        background-color: blue;
    }

    .nav-dummy img{
        padding-left: 20px;
    }

    /* places */

.places{
    width: 100%;
    padding-bottom: 10rem;
    height: auto;
}

.place-heading, .review-heading{
    padding-top:40px;
    text-align: center;
    color: black;
    font-size: 3em;
}

.place-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    padding-top: 7em;
}

.div1, .div3, .div2 {
    -webkit-box-shadow: 17px 8px 9px #3c3c3c;
    -moz-box-shadow: 7px 8px 9px #3c3c3c;
    box-shadow: 7px 8px 9px #3c3c3c;
    background-color: red;
    height: 17em;
    margin: 0 5em 0 5em;
    border-radius: 10%;
    overflow: hidden;
}

.div1:hover, .div3:hover, .div2:hover{
    -webkit-box-shadow: 14px 14px 9px #3c3c3c;
    -moz-box-shadow: 14px 14px 9px #3c3c3c;
    box-shadow: 14px 14px 9px #3c3c3c;
    transform: scaleX(1.1) scaleY(1.1) scaleZ(1.1);
}

.div1{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/munnae.jpg");
    background-size: 100% 100%;
}

.div2{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/wayanad.jpg");
    background-size: 100% 100%;
}

.div3{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/alapuzha.jpg");
    background-size: 100% 100%;
}

.button {
    color: black;
    display: inline-block;
    border-radius: 20px;
    padding: .7em;
    background-color: #79BD9A;
    text-decoration: none;
    color: white;
}

.hvr-rectangle-in {color: black;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #23c476;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-rectangle-in:before {
    border-radius: 20px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
    color: white;
  }
  .hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

@media (max-width: 1400px) {
    .place-cards { grid-template-columns: repeat(2, 1fr);
    row-gap: 3em; }
}

  /* """""""""""""""""""""""""""""""""reviews"""""""""""""""""""""""""""""""" */

.review{
    width: 100%;
    height: auto;
    padding-bottom: 10em;
}

.place-review{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    }

/* """""""""""""""""""""""start""""""""""""""""""""""" */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #9e9e9e;
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    margin: 35px 10px 10px;
    max-width: 310px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.snip1533 figcaption {
    padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #d2652d;
    content: "\"";
    font-family: 'FontAwesome';
    font-size: 32px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
}

.snip1533 h3 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0 5px;
}

.snip1533 h4 {
    color: black;
    font-weight: 400;
    margin: 0;
    opacity: 0.5;
}

.snip1533 blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
}

.figure-sec{
    display: flex;
    justify-content: center;
}


/* Demo purposes only */


/* """""""""""""""""""""""start""""""""""""""""""""""" */

/* """""""""""""""""""footer section""""""""""""""""""" */

.footer{
    width: 90%;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    display: flex;
}

.details{
    width: 33%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 5em;
    justify-content: center;
}

.pages{
    padding-top: 3em;
    width: 33%;
    height: 90%;
    margin-top: auto;
    border-right: 1px solid black;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pages-list{
    padding-top: 1em;
    list-style: none;
    text-align: center;
}

.pages-list a,.pages-list li{
    color: black;
    text-decoration: none;
    padding: .7em 0 0 0;
}

.social{
    width: 33%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter{
    color: grey;
    font-weight: lighter;
}

.newsletter-form input::placeholder{
    padding: 1em;
}

.newsletter-form input{
    margin-top: 5px;
    height: 3em;
}

.email-submit{
    background-color: orange;
    border: none;
    padding: 0 1em 0 1em;
}