@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}

.registration{
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/banner-image.jpg");
    background-size: 100vw 100%;
}

.reg{
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
}

.frm-element{
    border: none;
    padding: 7px;
    width: 100%;
}

.frm-btn{
    background-color: #a3e6bd;
    text-align: center;
}

input::placeholder{
    color: black;
}

.gender{
    text-align: left;
    color: white;
}